body.dark {
  background: #0f0f1a;
  color: white;
  font-family: Arial;
  text-align: center;
}

.login-box, .dashboard {
  margin-top: 80px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: none;
}

.btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #00f2ff;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}

.red {
  background: red;
  color: white;
}

.google {
  background: white;
  color: black;
}